<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dennis Saputra Ariansyah</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <!-- navigasi -->
    <header>
        <nav>
            <div class="navbar-right">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#profil">Profile</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#hobbies">Hobbies</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- akhir navigasi -->

    <!-- content -->
    <main>
        <article>
            <div class="wrapper-pembuka" id="home">
                <div class="Nama">
                   <h1>Halo, Namaku</br>Dennis Saputra Ariansyah</br>
                </div>
                <div class="paragraf">
                    <p>aku sebagai machine learning dan front end</p>
                </div>
            </div>
        </article>
        <article>
            <div id="profil" class="wrapper">
                    <img src="static/img/profil.jpg" class="image_profil">
                <div>
                    <aside class="content-profile">
                        <header class="title">
                            <h2>Profile</h2>
                        </header>
                        <p>Saya merupakan mahasiswa aktif Universitas Muhammadiyah Sukabumi Semester 5, saya memeiliki beberapa pengausaaan sekill seperti menguasai Front end, network engginering, dan UI/UX Design. saya juga seorang pembisnis kecil kecilan</p>
                    </aside>
                    <aside class="skills">
                        <header class="title">
                            <h2 class="">Skills</h2>
                            <img src="static/img/skills.svg" class="icon">
                        </header>
                        <div id="flex_container" class="flex_container"> 
                        </div>
                    </aside>
                </div>
            </div>
        </article>
        <article>
            <div id="education" class="wrapper">
                <div class="education">
                    <header class="title">
                        <h2>Pendidikan</h2>
                        <img src="static/img/education.svg" class="icon">
                    </header>
                        <div>
                            <h4>SMK Negri 2 Kota Sukabumi</h4>
                            <p>2017 - 2020</p>
                        </div>
                        <div>
                            <h4>Universitas Muhammadiyah Sukabumi</h4>
                            <p>2020 - Sekarang</p>
                        </div>
                </div>
            </div>
        </article>
        <article>
            <div id="hobbies" class="wrapper">
                <div class="hobbies">
                    <header class="title">
                        <h2 class="">Hobbies</h2>
                        <img src="staic/img/hobbies.svg" class="icon">
                    </header>
                    <div class="hobbies_container">
                        <div class="hobbies_box">
                            <div>
                                <p>Game</p>
                                <img src="static/img/game.svg" class="hobbies_icon">
                            </div>
                        </div>
                        <div class="hobbies_box">
                            <div>
                                <p>Movie</p>
                                <img src="static/img/movie.svg" class="hobbies_icon">
                            </div>
                        </div>
                        <div class="hobbies_box">
                            <div>
                                <p>Sepedah</p>
                                <img src="static/img/bicycle.png" class="hobbies_icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        
    </main>

    <footer>
        <p>&copy Dennis saputra ariansyah</p>
    </footer>
    <script src="static/script.js"></script>
</body>
</html>